
  .container {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top:100px;
    margin-bottom:100px;
    width:80%;
    margin-left:100px;
    
  }
  .welcome-section {
    background-color:#4d8e8b;
    color: #e7f2e6;
    padding: 50px;
    width: 600px;
    right: 30px;
     font-size:35px; 
    background-image: url("loginbg1.jpg");
    background-size: auto;
  }

  .login-section {
    padding: 50px;
    width: 50%;
  }
  .login-section h1 {
    margin-bottom: 20px;
    font-size: 40px;
    
  }
  .login-section p{
    font-size: 20px;
  }
  .login-section input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
  }
  .login-section button {
    width: 100%;
    padding: 10px;
    background-color: #4d8e8b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 39.33px;
    font-size: 20px;
    
    
  }
  .login-section a {
    display:inline;
    text-align: center;
    margin-top: 40px;
    color: black;
    text-decoration:underline;
    padding:23px;
    color: rgb(9, 131, 179);
  }
 .submit a{
  color:white;
  text-decoration: none;
 } 