<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="profiles.css">
</head>
<body>
    
    <div class="profile-container">
        <div class="profile-header">
            <img src="#" class="profile-pic">
             <h1>Profile</h1> 
        </div>
        
        <form class="profile-form">
            <input type="text" placeholder="Username" >
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button class="post-btn">Save</button>
            <a href="#">Delete Account</a>
            <a href="#">Sign Out</a>
        </form>
</body>
</html>
