* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color:white;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .profile-container {
    margin-top: 80px;
    padding: 20px;
    height: 550px;
    width: 400px;
    background-color:#1e1e1e;
  
    border-radius: 10px;
    text-align: center;
    justify-content:center ;
  }
  
  .profile-header {
    margin-bottom: 20px;
    height: 120px;
  }
  
  .profile-pic {
   border-radius: 50%; 
    width: 150px;
    height: 120px;
     background-image:url("pic.jpeg");
    background-size: cover; 
    /* margin-bottom: 10px; */
  }
  .profile-pic :hover{
    border: 1px solid black;
  }
  
  .profile-header h1 {
     margin-top: 20px; 
    margin-bottom: 10px;
    color: white;
  }
  .profile-form{
    height: 400px;
    margin-top: 70px;
  
  }
  .profile-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 ;
    border: none;
    border-radius: 5px;
    background-color: #2b2b2b;
    color: #fff;
  }
  
  .update-btn, .post-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
  }
  
  
  
  .post-btn {
     background:rgb(11, 96, 166) ;
  }
  
  .profile-actions {
    margin-top: 20px;
  }
  
  .profile-actions a {
    display: block;
    margin: 10px 0;
    color: #ff4b2b;
    text-decoration: none;
    font-weight: bold;
  }
  
  .sign-out {
    color: #ffffff;
  }
  a{
    color: white;
    padding: 45px;
  }